<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<h1 style="font-size:15px;font-family:Helvetica,Arial,sans-serif;line-height:28px;">
Welcome <%= @email %>!</h1>

<h2 style="font-size:18px;font-family:Helvetica,Arial,sans-serif;line-height:26px;margin:0px">Password reset token</h2>
<div style="font-family:Helvetica,Arial,sans-serif; font-size:14px;">
	<p>You can confirm your account email using the token below:</p>
	
	<h2 style="font-size:15px;font-family:Helvetica,Arial,sans-serif;line-height:26px;margin:10px"><%= @token %></h2>
</div>	
