<h1 style="font-size:15px;font-family:Helvetica,Arial,sans-serif;line-height:28px;">
Hello <%= @resource.email %>!,</h1>

<h2 style="font-size:18px;font-family:Helvetica,Arial,sans-serif;line-height:26px;margin:0px">Password reset token</h2>
<div style="font-family:Helvetica,Arial,sans-serif; font-size:14px;">
	<p>Someone has requested to change your password. you can enter the code manually using this token</p>
	
	<h2 style="font-size:15px;font-family:Helvetica,Arial,sans-serif;line-height:26px;margin:10px"><%= @token %></h2>
	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you use the token above and create a new one.</p>
</div>	
